@import "../../styles/global/variables";
@import "../../styles/global/mixins";

.basketContainer {
  width: 100%;
}

.noShow {
  display: none;
  transition: 0.2s;
}

.basketCount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  right: -5px;
  bottom: -8px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-family: $body-font;
  font-weight: 700;
  color: $pink-accent;
  transition: 0.2s;
  @media only screen and (min-width: $tablet) {
    top: -8px;
    right: 0px;
  }
}

.basket {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 20px;
  background-color: $pink-accent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 10px;
  top: 10px;
  transition: 0.5s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  & > svg {
    margin-top: 15px;
    margin-left: 9px;
    & > path {
      -webkit-fill: white;
      fill: white;
    }
  }
  @media only screen and (min-width: $tablet) {
    left: unset;
    right: 180px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    top: 55px;
    transition: 0.5s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    & > svg {
      margin-top: 15px;
      margin-left: 9px;
      & > path {
        -webkit-fill: white;
        fill: white;
      }
    }
  }
}

.basketDropdown {
  background-color: white;
  padding: 0 25px 0;
  border-radius: 25px;
  top: 60px;
  left: 10px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  transition: 0.5s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  @media only screen and (min-width: $tablet) {
    top: 120px;
    right: 105px;
    left: unset;
  }

  & > h1,
  h2 {
    font-family: $title-font;
    font-size: 40px;
    text-align: center;
  }

  & > h1,
  h2 {
    margin-top: 20px;
  }

  & > h1 {
    margin-bottom: 20px;
  }

  & > h3 {
    font-family: $body-font;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }

  & > ul {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 10px;
      justify-content: space-between;
      width: 100%;
      & > p {
        font-family: $body-font;
        font-weight: 600;
        font-size: 14px;
        margin-right: 10px;
      }
      & > button {
        height: 15px;
        background-color: red;
        border-radius: 10px;
        text-align: center;
        font-family: $body-font;
        font-size: 12px;
        line-height: 0px;
        color: white;
        font-weight: 700;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.checkoutButton {
  background-color: $pink-accent;
  color: white;
  font-family: $body-font;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  margin-bottom: 20px;
}

.underline {
  height: 3px;
  width: 80%;
  background-color: $pink-accent;
  border-radius: 2px;
  margin-top: 20px;
}
